<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

<div class="header">
<h1>rDuino Compiler Uploader Server</h1>
</div>

<div class="row">
<div class="col-3 col-s-3 menu" id="buttonList">
<ul>
    <a href="#install_board" id="installBord"><li>Add a board to the compiler</li></a>
    <a href="#install_library" id="installLibrary"><li>Add a library to the compiler</li></a>
</ul>
</div>

<!--    return render_template('main.html', theBoardList=boardList, theBoard=myBoard, theTargetList=targetList, theTarget=myTarget, theTempFile=myTempDirectory+separator+myFileName) -->

<div class="col-6 col-s-9">
<h1>The board</h1>
{{ theBoardList }}
{{ theBoard }}

<h1>The target port</h1>
{{ theTargetList }}
{{ theTarget }}

<h1>The temp file</h1>
{{ theTempFile }}

</div>

</div>

<div class="footer">
<p>(c) NBRemond - 2016</p>
</div>

</body>
</html>
